$bgcolor: #eee;
$text-color: #444;
$base-margin: 40px;


body {
  margin: 0;
  background-color: $bgcolor;
  color: $text-color;
}

@import "reset";
@import "App";
@import "SearchForm";
@import "GeocodeResult";
@import "Map";
@import "HotelsTable";
@import "HotelsClickableTh";
